<configuration>
<appSettings>
<add key="smartRestaurant.BusinessService.BusinessService" value="http://localhost/smartService/BusinessService.asmx"/>
<add key="smartRestaurant.CheckBillService.CheckBillService" value="http://localhost/smartService/CheckBillService.asmx"/>
<add key="smartRestaurant.CustomerService.CustomerService" value="http://localhost/smartService/CustomerService.asmx"/>
<add key="smartRestaurant.MenuService.MenuService" value="http://localhost/smartService/MenuService.asmx"/>
<add key="smartRestaurant.OrderService.OrderService" value="http://localhost/smartService/OrderService.asmx"/>
<add key="smartRestaurant.PaymentService.PaymentService" value="http://localhost/smartService/PaymentService.asmx"/>
<add key="smartRestaurant.ReserveService.ReserveService" value="http://localhost/smartService/ReserveService.asmx"/>
<add key="smartRestaurant.TableService.TableService" value="http://localhost/smartService/TableService.asmx"/>
<add key="smartRestaurant.UserAuthorizeService.UserAuthorizeService" value="http://localhost/smartService/UserAuthorizeService.asmx"/>
<add key="Demo" value="0"/>

<!--
	Culture: For datetime format
	Value: en-US (default), th-TH
-->
<add key="Culture" value="en-US"/>

<!--
	MenuLanguage: Language for show menu name.
	Value: En (default) , Th, Fr
-->
<add key="MenuLanguage" value="En"/>

<!--
	TableListStyle: Table List style to show on screen.
	Value:	1 - Dimension  8x3 (22,24) (diabled waiting list -  8x 7)
			2 - Dimension 12x3 (34,36) (diabled waiting list - 12x 7)
			3 - Dimension  8x5 (38,40) (diabled waiting list -  8x11)
-->
<add key="TableListStyle" value="1"/>

<!--
	WaitingListEnabled: To enable waiting list in table select form.
	Value:	No - Disable
			Yes - Enabled
-->
<add key="WaitingListEnabled" value="No"/>

<!--
	ShowWaitingListButton: To show waiting list in table select form.
	Value:	No - Disable
			Yes - Enabled
-->
<add key="ShowWaitingListButton" value="No"/>

<!--
	DeliveryModeOnly: Set smartTouch for restaurant that only delivery order.
		This option will don't show table select screen when enabled.
	Value:	No - Disable
			Yes - Enabled
-->
<add key="DeliveryModeOnly" value="No"/>

<!--
	ShowOrderItemPrice: To show price for each order item and total.
	Value:	No - Disable
			Yes - Enabled
-->
<add key="ShowOrderItemPrice" value="Yes"/>
</appSettings>
</configuration>
